body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Forms */
form {
  transition: opacity .15s ease;
}

form.loading {
  pointer-events: none;
  opacity: 0.75;
}

label {
  margin: 0 0 2px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--grey-medium);
  display: block;
}

.field {
  margin: 0 0 24px;
  padding: 11px 16px 9px;
  width: 100%;
  font-size: 26px;
  line-height: 26px;
  color: var(--almost-black);
  border: 1px solid var(--grey);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  display: block;
  background: var(--almost-white);
  transition: border-color .15s ease;
}

.field:focus {
  border-color: var(--grey-medium);
  outline: none;
}

.error {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--red);
}

.error--hidden {
  display: none;
}

/* Buttons */
.btn {
  margin: 0 0 24px;
  padding: 11px 30px 10px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  color: var(--white);
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background: var(--primary);
  transition: color .15s ease, background-color .15s ease;
}

.btn:hover {
  background: var(--primary-dark);
}

.btn--secondary {
  color: var(--almost-black);
  background: var(--secondary);
}

.btn--secondary:hover {
  background: var(--secondary-dark);
}

input[type=submit] {
  margin: 34px auto 24px;
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 16px;
}
/* Cards */
.card-wrapper {
  margin: 0 30px 60px 30px;
  padding: 90px 30px;
  flex-wrap: wrap;
  justify-content: left ; 
  display: flex;
}

.card {
  margin: 0 30px 60px;
  padding: 20px 40px;
  width: 1600px;
  justify-items: left;
  box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15); 
  border-radius: 5px;
  background: var(--white);
  transition: box-shadow .15s ease;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
img {
  transform: scale(1.2);
  justify-content: center;
  height: 900px;
  width: 1200px;
  padding: 100px 50px;
  margin: 0 30px 60px 30px;
  border-radius: 5px 5px 0 0;  
}

/* -----------------------สทร ฝั่งขวา------------------- */
.textid {
  position: absolute;
  left: 310px;
  width: 200px;
  top: 220px;
  padding-left: 18px;
  padding-right: 20px;
}
.textname{
  position: absolute;
  top: 275px;
  left: 160px;
  padding-left: 20px;
  padding-right: 20px;
}
.textdob{
  position: absolute;
  top: 345px;
  left: 160px;
  padding-left: 20px;
  padding-right: 20px;
}
.textmname{
  position: absolute;
  top: 420px;
  left: 160px;
  padding-left: 20px;
  padding-right: 20px;
}
.textmid{
  position: absolute;
  top: 420px;
  left: 400px;
  padding-left: 20px;
  padding-right: 20px;
}
.textfname{
  position: absolute;
  top: 480px;
  left: 160px;
  padding-left: 20px;
  padding-right: 20px;
}
.textfid{
  position: absolute;
  top: 480px;
  left: 400px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
.textadress{
  position: absolute;
  top: 625px;
  left: 160px;
  text-align: left;
}

