<!DOCTYPE html>
<html>


<head>
  <!-- <meta charset="utf-8"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{info['app']}}-STL v3.{{info['version']}}
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- เวอร์ชั่นสคริป ที่ใช้งาน ดรอบลิส 3.6.0 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</head>

<body>

  <nav class="navbar  navbar-fixed-top" style="background-color: #f5f5f5;">
    <!--  navbar-inverse-->
    <div class="container-fluid">
      <!-- <div class="navbar-header">
        <li class="active"><a class="navbar-brand" href="{{ url_for('index') }}">หน้าหลัก</a></li>
      </div> -->
      <ul class="nav navbar-nav ">
        <li class="active"><a class="navbar-brand" href="{{ url_for('index') }}"><i
              class="fa fa-fw fa-home"></i>หน้าหลัก (SET - {{session.ocrlot}})</a>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Select SET<span
              class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for setocr in info['ocrs'] %}
            <li><a href="{{ url_for('setocr',setocr=setocr['_id'] ) }}"><i class="fa fa-book fa-fw"></i> SET-SCAN
                {{setocr['_id']
                }}..({{setocr['ocrdocs'] }})</a></li>
            <!-- setocr/<int:setocr>') -->
            {% endfor %}

          </ul>
        </li>


        <li>
          <a href="{{ url_for('page',page=0 ) }}">[ชุดแรก]</a>
        </li>
        {% if session.page <= 0 %} {% if ocrdata %} <li class="active"><a
            href="{{ url_for('page',page=session.page ) }}" style="color:rgb(162, 0, 100) ;">
            <i class="fa fa-pencil fa-fw"></i>ชุด (
            {{session.page+1}} )
          </a>
          </li>
          {% else %}
          <li><a href="{{ url_for('page',page=session.page ) }}">ชุด {{session.page+1}}</a>
          </li>
          {% endif %}

          <li><a href="{{ url_for('page',page=session.page+1 ) }}">ชุด {{session.page+2}}</a></li>
          <li><a href="{{ url_for('page',page=session.page+2 ) }}">ชุด {{session.page+3}}</a></li>
          <!-- <li><a href="{{ url_for('page',page=session.page+3 ) }}">ชุด {{session.page+4}}</a></li> -->
          {% elif session.page >= session.listpage-1 %}
          <li><a href="{{ url_for('page',page=session.listpage-3 ) }}">ชุด{{session.listpage-2}}</a></li>
          <li><a href="{{ url_for('page',page=session.listpage-2 ) }}">ชุด {{session.listpage-1}}</a></li>
          <!-- <li><a href="{{ url_for('page',page=session.listpage-1 ) }}">ชุด {{session.listpage}}</a></li> -->
          {% if ocrdata %}
          <li class="active"><a href="{{ url_for('page',page=session.page ) }}" style="color:rgb(162, 0, 100) ;">
              <i class="fa fa-pencil fa-fw"></i>ชุด (
              {{session.page+1}} )
            </a>
          </li>
          {% else %}
          <li><a href="{{ url_for('page',page=session.page ) }}">ชุด {{session.page+1}}</a>
          </li>
          {% endif %}

          {% else %}
          <li><a href="{{ url_for('page',page=session.page-1 ) }}">ชุด {{session.page}}</a></li>

          {% if ocrdata %}
          <li class="active"><a href="{{ url_for('page',page=session.page ) }}" style="color:rgb(162, 0, 100) ;">
              <i class="fa fa-pencil fa-fw"></i>ชุด (
              {{session.page+1}} )
            </a>
          </li>
          {% else %}
          <li><a href="{{ url_for('page',page=session.page ) }}">ชุด {{session.page+1}}</a>
          </li>
          {% endif %}

          <li><a href="{{ url_for('page',page=session.page+1 ) }}">ชุด {{session.page+2}}</a></li>
          <!-- <li><a href="{{ url_for('page',page=session.page+2 ) }}">ชุด {{session.page+3}}</a></li> -->

          {% endif %}
          <li><a href="{{ url_for('page',page=session.listpage-1  ) }}">[ชุดสุดท้าย]</a></li>
          <li class="active"><a href="#" style="color:rgb(162, 0, 100) ;"><i
                class="fa fa-pencil fa-fw"></i>{{session.totalcheked
              }} /
              {{session.totalfile}} </a></li>

      </ul>
      <form class="navbar-form navbar-left">
        <!-- <div class="form-group"> -->
        <input type="text" name="findid" id="findid" class="form-control" placeholder="ค้นหาบัตรประชาชน">
        <!-- </div> -->
        <button type="submit" onclick=findidcard() class="btn btn-default" style="margin-left: 220px;"><i
            class="fa fa-fw fa-search"></i>ค้นหา</button>
      </form>


      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <img src="{{ session.picture }}" style="height:50px ;width:50px ;">
          <!-- class="mx-auto d-block" class="rounded-circle active"-->
        </li>

        <li class="active"><a href="#"><i class="fa fa-fw fa-user"></i>{{
            session.name_sur }}</a></li>

        <li><a href="{{ url_for('logout') }}"><i class="fa fa-fw fa-sign-out"></i>ออกจากระบบ</a></li>

        <li class="active"><a href="{{ url_for('transfer') }}">..</a></li>
      </ul>

    </div>
  </nav>


  <!-- container-fluid -->
  <div class="container-fluid" style=" flex-wrap: wrap;display: flex;justify-content: center; margin-top:80px ;">
    <!-- <div class=" container" style=" flex-wrap: wrap;justify-content: center ; display: flex;"> -->

    {% for cn in ocrdata %}

    {% if cn['accu_address'] ==100 and cn['accu_name']==100 %}
    <div class="card" id="card{{ cn['index_of_lotfile']}}">
      <img src="{{ cn['filedesinat'] }}" srcset="" style="opacity: 0.4;">
      <form role="form" method="post" name="form{{ cn['index_of_lotfile']}}" id="form{{ cn['index_of_lotfile']}}">
        <h2>ลำดับไฟล์ {{ cn['index_of_lotfile']}} / ความแม่นยำ ที่อยู่ = {{ cn['accu_address'] }} ความแม่นยำชื่อ = {{
          cn['accu_name'] }}</h2>

        <input type="hidden" id="index_of_lotfile" name="index_of_lotfile" value="{{ cn['index_of_lotfile'] }}">
        <input type="hidden" id="checked{{ cn['index_of_lotfile']}}" name="checked" value="{{ cn['checked'] }}">
        <input type="text" id="fidcard" name="idcard" value="{{ cn['idcard'] }}"
          style="left: 363px;top: 120px;font-size: 22px;  ">

        <input type="text" id="fidname" name="Name" value="{{ cn['Name'] }}"
          style="left: 230px;top: 168px;font-size: 20px;  ">
        <input type="text" id="fgender" name="gender" value="{{ cn['gender'] }}"
          style="left: 850px;top: 205px;font-size: 20px;  ">
        <input type="text" id="fnationality" name="nationality" value="{{ cn['nationality'] }}"
          style="left: 1080px;top: 205px;font-size: 20px;   ">

        <input type="text" id="fdob" name="dob" value="{{ cn['dob'] }}"
          style="left: 230px;top: 240px;font-size: 20px; ">
        <input type="text" id="fstatus" name="status" value="{{ cn['status'] }}"
          style="left: 1040px;top: 270px;font-size: 20px;  ">

        <input type="text" id="fmother" name="mother" value="{{ cn['mother'] }}"
          style="left: 230px;top: 315px;font-size: 20px; ">
        <input type="text" id="fid_mother" name="id_mother" value="{{ cn['id_mother'] }}"
          style="left: 508px;top: 315px;font-size: 16px;  ">
        <input type="text" id="fmothernation" name="mothernation" value="{{ cn['mothernation'] }}"
          style="left: 980px;top: 345px;font-size: 20px;  ">

        <input type="text" id="ffather" name="father" value="{{ cn['father'] }}"
          style="left: 230px;top: 385px;font-size: 20px;    ">
        <input type="text" id="fid_father" name="id_father" value="{{ cn['id_father'] }}"
          style="left: 510px;top: 385px;font-size: 16px; ">
        <input type="text" id="ffathernation" name="fathernation" value="{{ cn['fathernation'] }}"
          style="left: 980px;top: 415px;font-size: 20px;   ">

        <input type="text" id="faddr" name="address" value="{{ cn['address'] }}"
          style="left: 250px;top: 555px;font-size: 20px;  background-color: whitesmoke;   ">
        <label for="ftumbol"
          style=" position: absolute;left: 230px;top: 589px;font-size: 20px; height:40px; ">ต.</label><br>
        <input type="text" id="ftumbol" name="TUMBUL" value="{{ cn['TUMBUL'] }}"
          style="left: 250px;top: 589px;font-size: 20px; background-color: whitesmoke;    ">
        <label for="faumphur"
          style=" position: absolute;left: 230px;top: 623px;font-size: 20px;  height:40px;">อ.</label><br>
        <input type="text" id="faumphur" name="AUMPUR" value="{{ cn['AUMPUR'] }}"
          style="left: 250px;top: 623px;font-size: 20px;background-color: whitesmoke;  ">
        <label for="fprovince"
          style=" position: absolute;left: 230px;top: 657px;font-size: 20px; height:40px; ">จ.</label><br>
        <input type="text" id="fprovince" name="PROVINCE" value="{{ cn['PROVINCE'] }}"
          style="left: 250px;top: 657px;font-size: 20px;background-color: whitesmoke;   ">
        <input type="text" id="fzipcode" name="ZIPCODE" value="{{ cn['ZIPCODE'] }}"
          style="left: 250px;top: 690px;font-size: 16px;background-color: whitesmoke;  ">

        <input type="text" id="fnotes" name="notes" value="{{ cn['notes'] }}"
          style="left: 360px;top: 800px;font-size: 20px; width: 70%;  ">


        <label class="switch">
          {% if cn['checked'] %}
          <input onclick="mycheck({{ cn['index_of_lotfile']}})" type="checkbox" checked>
          {% else %}
          <input onclick="mycheck({{ cn['index_of_lotfile']}})" type="checkbox">
          {% endif %}
          <span class="slider round"></span>
        </label> <br>
        <!-- <h3>ลำดับไฟล์ {{ cn['index_of_lotfile']}} / ความแม่นยำที่อยู่ = {{ cn['accu_address'] }} / ความแม่นยำชื่อ = {{
          cn['accu_name'] }}</h3> -->

      </form>

    </div>





    {% elif cn['accu_address'] ==100 and cn['accu_name']==90 %}
    <div class="card-blue" id="card{{ cn['index_of_lotfile']}}">

      <img src="{{ cn['filedesinat'] }}" srcset="" style="opacity: 0.4;">
      <form role="form" method="post" name="form{{ cn['index_of_lotfile']}}" id="form{{ cn['index_of_lotfile']}}">
        <h2>ลำดับไฟล์ {{ cn['index_of_lotfile']}} / ความแม่นยำ ที่อยู่ = {{ cn['accu_address'] }} ความแม่นยำชื่อ = {{
          cn['accu_name'] }}</h2>

        <input type="hidden" id="index_of_lotfile" name="index_of_lotfile" value="{{ cn['index_of_lotfile'] }}">
        <input type="hidden" id="checked{{ cn['index_of_lotfile']}}" name="checked" value="{{ cn['checked'] }}">
        <input type="text" id="fidcard" name="idcard" value="{{ cn['idcard'] }}"
          style="left: 363px;top: 120px;font-size: 22px;  ">

        <input type="text" id="fidname" name="Name" value="{{ cn['Name'] }}"
          style="left: 230px;top: 168px;font-size: 20px;  ">
        <input type="text" id="fgender" name="gender" value="{{ cn['gender'] }}"
          style="left: 850px;top: 205px;font-size: 20px;  ">
        <input type="text" id="fnationality" name="nationality" value="{{ cn['nationality'] }}"
          style="left: 1080px;top: 205px;font-size: 20px;   ">

        <input type="text" id="fdob" name="dob" value="{{ cn['dob'] }}"
          style="left: 230px;top: 240px;font-size: 20px; ">
        <input type="text" id="fstatus" name="status" value="{{ cn['status'] }}"
          style="left: 1040px;top: 270px;font-size: 20px;  ">

        <input type="text" id="fmother" name="mother" value="{{ cn['mother'] }}"
          style="left: 230px;top: 315px;font-size: 20px; ">
        <input type="text" id="fid_mother" name="id_mother" value="{{ cn['id_mother'] }}"
          style="left: 508px;top: 315px;font-size: 16px;  ">
        <input type="text" id="fmothernation" name="mothernation" value="{{ cn['mothernation'] }}"
          style="left: 980px;top: 345px;font-size: 20px;  ">

        <input type="text" id="ffather" name="father" value="{{ cn['father'] }}"
          style="left: 230px;top: 385px;font-size: 20px;    ">
        <input type="text" id="fid_father" name="id_father" value="{{ cn['id_father'] }}"
          style="left: 510px;top: 385px;font-size: 16px; ">
        <input type="text" id="ffathernation" name="fathernation" value="{{ cn['fathernation'] }}"
          style="left: 980px;top: 415px;font-size: 20px;   ">

        <input type="text" id="faddr" name="address" value="{{ cn['address'] }}"
          style="left: 250px;top: 555px;font-size: 20px;  background-color: whitesmoke;   ">
        <label for="ftumbol"
          style=" position: absolute;left: 230px;top: 589px;font-size: 20px; height:40px; ">ต.</label><br>
        <input type="text" id="ftumbol" name="TUMBUL" value="{{ cn['TUMBUL'] }}"
          style="left: 250px;top: 589px;font-size: 20px; background-color: whitesmoke;    ">
        <label for="faumphur"
          style=" position: absolute;left: 230px;top: 623px;font-size: 20px;  height:40px;">อ.</label><br>
        <input type="text" id="faumphur" name="AUMPUR" value="{{ cn['AUMPUR'] }}"
          style="left: 250px;top: 623px;font-size: 20px;background-color: whitesmoke;  ">
        <label for="fprovince"
          style=" position: absolute;left: 230px;top: 657px;font-size: 20px; height:40px; ">จ.</label><br>
        <input type="text" id="fprovince" name="PROVINCE" value="{{ cn['PROVINCE'] }}"
          style="left: 250px;top: 657px;font-size: 20px;background-color: whitesmoke;   ">
        <input type="text" id="fzipcode" name="ZIPCODE" value="{{ cn['ZIPCODE'] }}"
          style="left: 250px;top: 690px;font-size: 16px;background-color: whitesmoke;  ">

        <input type="text" id="fnotes" name="notes" value="{{ cn['notes'] }}"
          style="left: 360px;top: 800px;font-size: 20px; width: 70%;  ">


        <label class="switch">
          {% if cn['checked'] %}
          <input onclick="mycheck({{ cn['index_of_lotfile']}})" type="checkbox" checked>
          {% else %}
          <input onclick="mycheck({{ cn['index_of_lotfile']}})" type="checkbox">
          {% endif %}
          <span class="slider round"></span>
        </label> <br>
        <!-- <h3>ลำดับไฟล์ {{ cn['index_of_lotfile']}} / ความแม่นยำที่อยู่ = {{ cn['accu_address'] }} / ความแม่นยำชื่อ = {{
          cn['accu_name'] }}</h3> -->

      </form>

    </div>


    {% elif cn['accu_address'] ==50 and cn['accu_name']>= 90 %}
    <div class="card-yellow" id="card{{ cn['index_of_lotfile']}}">

      <img src="{{ cn['filedesinat'] }}" srcset="" style="opacity: 0.4;">
      <form role="form" method="post" name="form{{ cn['index_of_lotfile']}}" id="form{{ cn['index_of_lotfile']}}">
        <h2>ลำดับไฟล์ {{ cn['index_of_lotfile']}} / ความแม่นยำ ที่อยู่ = {{ cn['accu_address'] }} ความแม่นยำชื่อ = {{
          cn['accu_name'] }}</h2>

        <input type="hidden" id="index_of_lotfile" name="index_of_lotfile" value="{{ cn['index_of_lotfile'] }}">
        <input type="hidden" id="checked{{ cn['index_of_lotfile']}}" name="checked" value="{{ cn['checked'] }}">
        <input type="text" id="fidcard" name="idcard" value="{{ cn['idcard'] }}"
          style="left: 363px;top: 120px;font-size: 22px;  ">

        <input type="text" id="fidname" name="Name" value="{{ cn['Name'] }}"
          style="left: 230px;top: 168px;font-size: 20px;  ">
        <input type="text" id="fgender" name="gender" value="{{ cn['gender'] }}"
          style="left: 850px;top: 205px;font-size: 20px;  ">
        <input type="text" id="fnationality" name="nationality" value="{{ cn['nationality'] }}"
          style="left: 1080px;top: 205px;font-size: 20px;   ">

        <input type="text" id="fdob" name="dob" value="{{ cn['dob'] }}"
          style="left: 230px;top: 240px;font-size: 20px; ">
        <input type="text" id="fstatus" name="status" value="{{ cn['status'] }}"
          style="left: 1040px;top: 270px;font-size: 20px;  ">

        <input type="text" id="fmother" name="mother" value="{{ cn['mother'] }}"
          style="left: 230px;top: 315px;font-size: 20px; ">
        <input type="text" id="fid_mother" name="id_mother" value="{{ cn['id_mother'] }}"
          style="left: 508px;top: 315px;font-size: 16px;  ">
        <input type="text" id="fmothernation" name="mothernation" value="{{ cn['mothernation'] }}"
          style="left: 980px;top: 345px;font-size: 20px;  ">

        <input type="text" id="ffather" name="father" value="{{ cn['father'] }}"
          style="left: 230px;top: 385px;font-size: 20px;    ">
        <input type="text" id="fid_father" name="id_father" value="{{ cn['id_father'] }}"
          style="left: 510px;top: 385px;font-size: 16px; ">
        <input type="text" id="ffathernation" name="fathernation" value="{{ cn['fathernation'] }}"
          style="left: 980px;top: 415px;font-size: 20px;   ">

        <input type="text" id="faddr" name="address" value="{{ cn['address'] }}"
          style="left: 250px;top: 555px;font-size: 20px;  background-color: whitesmoke;   ">
        <label for="ftumbol"
          style=" position: absolute;left: 230px;top: 589px;font-size: 20px; height:40px; ">ต.</label><br>
        <input type="text" id="ftumbol" name="TUMBUL" value="{{ cn['TUMBUL'] }}"
          style="left: 250px;top: 589px;font-size: 20px; background-color: whitesmoke;    ">
        <label for="faumphur"
          style=" position: absolute;left: 230px;top: 623px;font-size: 20px;  height:40px;">อ.</label><br>
        <input type="text" id="faumphur" name="AUMPUR" value="{{ cn['AUMPUR'] }}"
          style="left: 250px;top: 623px;font-size: 20px;background-color: whitesmoke;  ">
        <label for="fprovince"
          style=" position: absolute;left: 230px;top: 657px;font-size: 20px; height:40px; ">จ.</label><br>
        <input type="text" id="fprovince" name="PROVINCE" value="{{ cn['PROVINCE'] }}"
          style="left: 250px;top: 657px;font-size: 20px;background-color: whitesmoke;   ">
        <input type="text" id="fzipcode" name="ZIPCODE" value="{{ cn['ZIPCODE'] }}"
          style="left: 250px;top: 690px;font-size: 16px;background-color: whitesmoke;  ">

        <input type="text" id="fnotes" name="notes" value="{{ cn['notes'] }}"
          style="left: 360px;top: 800px;font-size: 20px; width: 70%;  ">


        <label class="switch">
          {% if cn['checked'] %}
          <input onclick="mycheck({{ cn['index_of_lotfile']}})" type="checkbox" checked>
          {% else %}
          <input onclick="mycheck({{ cn['index_of_lotfile']}})" type="checkbox">
          {% endif %}
          <span class="slider round"></span>
        </label> <br>
        <!-- <h3>ลำดับไฟล์ {{ cn['index_of_lotfile']}} / ความแม่นยำที่อยู่ = {{ cn['accu_address'] }} / ความแม่นยำชื่อ = {{
          cn['accu_name'] }}</h3> -->

      </form>

    </div>




    {% elif cn['accu_address'] <= 100 and cn['accu_name']<=100 %} <div class="card-orange"
      id="card{{ cn['index_of_lotfile']}}">

      <img src="{{ cn['filedesinat'] }}" srcset="" style="opacity: 0.4;">
      <form role="form" method="post" name="form{{ cn['index_of_lotfile']}}" id="form{{ cn['index_of_lotfile']}}">
        <h2>ลำดับไฟล์ {{ cn['index_of_lotfile']}} / ความแม่นยำ ที่อยู่ = {{ cn['accu_address'] }} ความแม่นยำชื่อ = {{
          cn['accu_name'] }}</h2>

        <input type="hidden" id="index_of_lotfile" name="index_of_lotfile" value="{{ cn['index_of_lotfile'] }}">
        <input type="hidden" id="checked{{ cn['index_of_lotfile']}}" name="checked" value="{{ cn['checked'] }}">
        <input type="text" id="fidcard" name="idcard" value="{{ cn['idcard'] }}"
          style="left: 363px;top: 120px;font-size: 22px;  ">

        <input type="text" id="fidname" name="Name" value="{{ cn['Name'] }}"
          style="left: 230px;top: 168px;font-size: 20px;  ">
        <input type="text" id="fgender" name="gender" value="{{ cn['gender'] }}"
          style="left: 850px;top: 205px;font-size: 20px;  ">
        <input type="text" id="fnationality" name="nationality" value="{{ cn['nationality'] }}"
          style="left: 1080px;top: 205px;font-size: 20px;   ">

        <input type="text" id="fdob" name="dob" value="{{ cn['dob'] }}"
          style="left: 230px;top: 240px;font-size: 20px; ">
        <input type="text" id="fstatus" name="status" value="{{ cn['status'] }}"
          style="left: 1040px;top: 270px;font-size: 20px;  ">

        <input type="text" id="fmother" name="mother" value="{{ cn['mother'] }}"
          style="left: 230px;top: 315px;font-size: 20px; ">
        <input type="text" id="fid_mother" name="id_mother" value="{{ cn['id_mother'] }}"
          style="left: 508px;top: 315px;font-size: 16px;  ">
        <input type="text" id="fmothernation" name="mothernation" value="{{ cn['mothernation'] }}"
          style="left: 980px;top: 345px;font-size: 20px;  ">

        <input type="text" id="ffather" name="father" value="{{ cn['father'] }}"
          style="left: 230px;top: 385px;font-size: 20px;    ">
        <input type="text" id="fid_father" name="id_father" value="{{ cn['id_father'] }}"
          style="left: 510px;top: 385px;font-size: 16px; ">
        <input type="text" id="ffathernation" name="fathernation" value="{{ cn['fathernation'] }}"
          style="left: 980px;top: 415px;font-size: 20px;   ">

        <input type="text" id="faddr" name="address" value="{{ cn['address'] }}"
          style="left: 250px;top: 555px;font-size: 20px;  background-color: whitesmoke;   ">
        <label for="ftumbol"
          style=" position: absolute;left: 230px;top: 589px;font-size: 20px; height:40px; ">ต.</label><br>
        <input type="text" id="ftumbol" name="TUMBUL" value="{{ cn['TUMBUL'] }}"
          style="left: 250px;top: 589px;font-size: 20px; background-color: whitesmoke;    ">
        <label for="faumphur"
          style=" position: absolute;left: 230px;top: 623px;font-size: 20px;  height:40px;">อ.</label><br>
        <input type="text" id="faumphur" name="AUMPUR" value="{{ cn['AUMPUR'] }}"
          style="left: 250px;top: 623px;font-size: 20px;background-color: whitesmoke;  ">
        <label for="fprovince"
          style=" position: absolute;left: 230px;top: 657px;font-size: 20px; height:40px; ">จ.</label><br>
        <input type="text" id="fprovince" name="PROVINCE" value="{{ cn['PROVINCE'] }}"
          style="left: 250px;top: 657px;font-size: 20px;background-color: whitesmoke;   ">
        <input type="text" id="fzipcode" name="ZIPCODE" value="{{ cn['ZIPCODE'] }}"
          style="left: 250px;top: 690px;font-size: 16px;background-color: whitesmoke;  ">

        <input type="text" id="fnotes" name="notes" value="{{ cn['notes'] }}"
          style="left: 360px;top: 800px;font-size: 20px; width: 70%;  ">


        <label class="switch" value="{{ cn['accu_address'] }}">
          {% if cn['checked'] %}
          <input onclick="mycheck({{ cn['index_of_lotfile']}})" type="checkbox" checked>
          {% else %}
          <input onclick="mycheck({{ cn['index_of_lotfile']}})" type="checkbox">
          {% endif %}
          <span class="slider round"></span>
        </label> <br>
        <!-- <h3>ลำดับไฟล์ {{ cn['index_of_lotfile']}} / ความแม่นยำที่อยู่ = {{ cn['accu_address'] }} / ความแม่นยำชื่อ = {{
          cn['accu_name'] }}</h3> -->

      </form>
  </div>
  {% else %} <div class="card-orange" id="card{{ cn['index_of_lotfile']}}">
    <h2>ลำดับไฟล์ {{ cn['index_of_lotfile']}} / ความแม่นยำ ที่อยู่ = {{ cn['accu_address'] }} </h2>
    <h2> ความแม่นยำชื่อ = {{
      cn['accu_name'] }}</h2>

    <img src="{{ cn['filedesinat'] }}" srcset="" style="opacity: 0.4;">
    <form role="form" method="post" name="form{{ cn['index_of_lotfile']}}" id="form{{ cn['index_of_lotfile']}}">

      <input type="hidden" id="index_of_lotfile" name="index_of_lotfile" value="{{ cn['index_of_lotfile'] }}">
      <input type="hidden" id="checked{{ cn['index_of_lotfile']}}" name="checked" value="{{ cn['checked'] }}">
      <input type="text" id="fidcard" name="idcard" value="{{ cn['idcard'] }}"
        style="left: 363px;top: 120px;font-size: 22px;  ">

      <input type="text" id="fidname" name="Name" value="{{ cn['Name'] }}"
        style="left: 230px;top: 168px;font-size: 20px;  ">
      <input type="text" id="fgender" name="gender" value="{{ cn['gender'] }}"
        style="left: 850px;top: 205px;font-size: 20px;  ">
      <input type="text" id="fnationality" name="nationality" value="{{ cn['nationality'] }}"
        style="left: 1080px;top: 205px;font-size: 20px;   ">

      <input type="text" id="fdob" name="dob" value="{{ cn['dob'] }}" style="left: 230px;top: 240px;font-size: 20px; ">
      <input type="text" id="fstatus" name="status" value="{{ cn['status'] }}"
        style="left: 1040px;top: 270px;font-size: 20px;  ">

      <input type="text" id="fmother" name="mother" value="{{ cn['mother'] }}"
        style="left: 230px;top: 315px;font-size: 20px; ">
      <input type="text" id="fid_mother" name="id_mother" value="{{ cn['id_mother'] }}"
        style="left: 508px;top: 315px;font-size: 16px;  ">
      <input type="text" id="fmothernation" name="mothernation" value="{{ cn['mothernation'] }}"
        style="left: 980px;top: 345px;font-size: 20px;  ">

      <input type="text" id="ffather" name="father" value="{{ cn['father'] }}"
        style="left: 230px;top: 385px;font-size: 20px;    ">
      <input type="text" id="fid_father" name="id_father" value="{{ cn['id_father'] }}"
        style="left: 510px;top: 385px;font-size: 16px; ">
      <input type="text" id="ffathernation" name="fathernation" value="{{ cn['fathernation'] }}"
        style="left: 980px;top: 415px;font-size: 20px;   ">

      <input type="text" id="faddr" name="address" value="{{ cn['address'] }}"
        style="left: 250px;top: 555px;font-size: 20px;  background-color: whitesmoke;   ">
      <label for="ftumbol"
        style=" position: absolute;left: 230px;top: 589px;font-size: 20px; height:40px; ">ต.</label><br>
      <input type="text" id="ftumbol" name="TUMBUL" value="{{ cn['TUMBUL'] }}"
        style="left: 250px;top: 589px;font-size: 20px; background-color: whitesmoke;    ">
      <label for="faumphur"
        style=" position: absolute;left: 230px;top: 623px;font-size: 20px;  height:40px;">อ.</label><br>
      <input type="text" id="faumphur" name="AUMPUR" value="{{ cn['AUMPUR'] }}"
        style="left: 250px;top: 623px;font-size: 20px;background-color: whitesmoke;  ">
      <label for="fprovince"
        style=" position: absolute;left: 230px;top: 657px;font-size: 20px; height:40px; ">จ.</label><br>
      <input type="text" id="fprovince" name="PROVINCE" value="{{ cn['PROVINCE'] }}"
        style="left: 250px;top: 657px;font-size: 20px;background-color: whitesmoke;   ">
      <input type="text" id="fzipcode" name="ZIPCODE" value="{{ cn['ZIPCODE'] }}"
        style="left: 250px;top: 690px;font-size: 16px;background-color: whitesmoke;  ">

      <input type="text" id="fnotes" name="notes" value="{{ cn['notes'] }}"
        style="left: 360px;top: 800px;font-size: 20px; width: 70%;  ">


      <label class="switch" value="{{ cn['accu_address'] }}">
        {% if cn['checked'] %}
        <input onclick="mycheck({{ cn['index_of_lotfile']}})" type="checkbox" checked>
        {% else %}
        <input onclick="mycheck({{ cn['index_of_lotfile']}})" type="checkbox">
        {% endif %}
        <span class="slider round"></span>
      </label> <br>

    </form>

  </div>





  {% endif %}



  {% endfor %}
  </div>

</body>


</html>