{% extends "base.html" %}
{% block title %}

{% endblock %}
{% block content %}
<div class="main">
    <h1>ชุดงานที่ {{ page+1}}</h1><br><br>
    <div class="card-wrapper">
        <!-- <div class="card-header">
            <h3>Sign In</h3>
        </div> -->
        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}
        {% for cn in ocrdata  %}
        <div class="cardright">
            <h1  style="align : center">Document {{ cn['index_file']  }}</h1>           
            
            <form method="post" name="form{{ cn['index_file']}}">     
                <img  src="{{ cn['filetext']  }}" alt=""   srcset="">
                <input type="text" id="fnameid" name="fname" value="{{ cn['idcard'] }}">

            <div class="textid">
                <input type="text" id="fnameid" name="fname" value="{{ cn['idcard'] }}">
            </div>
            <div class="textname">
                <input type="text" id="fnameid" name="fname" value="textname">
                <input type="text" id="fgender" name="fgender"  value="fgender">
                <input type="text" id="fnation" name="fnation" value="fnation">
            </div>
            <div class="textdob">
                <input type="text" id="fnameid" name="fname" value="textdob">
            </div>
            <div class="textmname">
                <input type="text" id="fnameid" name="fname" value="textmname">
            </div>
            <div class="textmid">
                <input type="text" id="fnameid" name="fname" value="textmid">
            </div>
            <div class="textfname">
                <input type="text" id="fnameid" name="fname" value="textfname">
            </div>
            <div class="textfid">
                <input type="text" id="fnameid" name="fname" value="textfid">
            </div>
            <div class="textadress">
                <input type="text" id="faddr" name="faddr" value="faddr">
                <input type="text" id="ftumbul" name="ftumbul" value="ftumbul">
                <input type="text" id="faumphur" name="faumphur" value="faumphur">
                <input type="text" id="fprovice" name="fprovice" value="fprovice">
                <input type="text" id="fzipcode" name="fzipcode" value="fzipcode">
            </div>
            <input type="submit" value="update{{ cn['index_file']}}" class="btn">
        </div>
    
        {% endfor %}
    
    
        <!-- eee -->
    
    </div>
    <div class="container">
        <form class="form-signin"  role="form">
        <h2 class="form-signin-heading">Please Sign Up</h2>
        <input type="email" id="inputUsername" name="username" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>       
        <button class="btn btn-lg btn-primary btn-block" type="button">Register</button>
		</form>   
     </div>  

</div>
{% endblock %}